# Data Cleaning

In [1]:
# import relevant libraries
import pandas as pd

In [5]:
# import all raw data into datasets

df_customers = pd.read_csv("data/raw/olist_customers_dataset.csv")
df_geolocation = pd.read_csv("data/raw/olist_geolocation_dataset.csv")
df_order_items = pd.read_csv("data/raw/olist_order_items_dataset.csv")
df_order_payments = pd.read_csv("data/raw/olist_order_payments_dataset.csv")
df_order_reviews = pd.read_csv("data/raw/olist_order_reviews_dataset.csv")
df_orders = pd.read_csv("data/raw/olist_orders_dataset.csv")
df_products = pd.read_csv("data/raw/olist_products_dataset.csv")
df_sellers = pd.read_csv("data/raw/olist_sellers_dataset.csv")
df_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

## Customers

In [7]:
# having a look at the data
df_customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [9]:
# checking data types
df_customers.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [22]:
# looking to see which is a primary key
df_customers["customer_unique_id"].nunique()

96096

In [23]:
# looking to see which is a primary key
df_customers["customer_id"].nunique()

99441

It appears that the primary key is the customer_id and some customers appear in the data twice

In [15]:
# looking for null values
df_customers.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [30]:
# looking to see which is a primary key
print(f"There are {df_customers['customer_state'].nunique()} different states.")
print(f"There are {df_customers['customer_city'].nunique()} different cities.")
print(f"There are {df_customers['customer_zip_code_prefix'].nunique()} different ZIP code prefixes.")

There are 27 different states.
There are 4119 different cities.
There are 14994 different ZIP code prefixes.

The data is clean and can be sent directly to be enriched

In [31]:
# exporting to the clean folder
df_customers.to_csv("data/cleaned/clean_customers.csv", index=False)

## Geolocation

In [32]:
df_geolocation.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [34]:
# checking data types
df_geolocation.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object